@page "/"
@using Diploma.Common.Models
@using Diploma.Common.Services
@using Diploma.Common.Utils
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@layout MainLayout
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="rz-m-1 rz-mb-0" style="width: 98%; height: 98%">
            <RadzenGrid Data="@MessagesList" TItem="Messages" EmptyText="Нет сообщений">
                <Columns>
                    <RadzenGridColumn TItem="Messages" Property="Tittle" Title="Название"/>
                    <RadzenGridColumn TItem="Messages" Property="DateTime" Title="Дата отправки"/>
                    <RadzenGridColumn TItem="Messages" Property="Category" Title="Отправитель">
                        <Template Context="message">
                            @message.User.Name
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Messages" Title="Действие">
                        <Template Context="message">
                            <RadzenButton Text="Просмотреть" />
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Session? CurrentSession { get; set; }
    
    [Inject] protected MessagesService MessagesService { get; set; }
    
    private List<Messages> MessagesList { get; set; }
    
    bool allowVirtualization;

    protected override async Task OnInitializedAsync()
    {
        MessagesList = await MessagesService.GetAll();
        StateHasChanged();
    }
    
    private async Task LogoutAsync()
    {
        // Perform logout logic here
    }
}