@page "/"
@using Diploma.Common.Models
@using Diploma.Common.Utils

@layout MainLayout
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>Hello, @(CurrentUser.Name)!</h1>
        <button class="btn btn-primary" @onclick="LogoutAsync">Logout</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public User CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
    
    private async Task LogoutAsync()
    {
        // Perform logout logic here
    }
}