@using Diploma.Common.Models
@layout MainLayout

<RadzenTemplateForm TItem="Messages" Data="@Messages">
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Заголовок"/>
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@Messages.Tittle" Name="Tittle" Disabled="true"/>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Отправитель"/>
        </div>
        <div class="col-md-9">
            @{
            string senderName = Messages.IsAnonymous ? "Анонимный отправитель" : Messages.User.Name;
            string groupName = Messages.IsAnonymous ? "" : (Messages.User.Group != null ? $" ({Messages.User.Group.Name})" : "");
            }
            <RadzenTextBox Value="@($"{senderName}{groupName}")" Name="Recipient" Disabled="true" style="width: 70%; overflow-x: auto;" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Ответ"/>
        </div>
        <div class="col">
            <RadzenTextArea @bind-Value="@Messages.Text" Name="Text" Rows="5" Style="width: 100%;" Disabled="true"/>
        </div>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter] public Messages Messages { get; set; }
}