@using Diploma.Common.Models
@using Diploma.Web.Pages
@inherits LayoutComponentBase

<AuthorizationLayout>
    <Authorized>
        <div class="page">
            <main>
                <article class="p-0">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizationLayout>
